.widget{
    position: sticky;
    top: 80px;
    flex: 0.2;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    height: fit-content;
    padding-bottom: 10px
}

.widget-headers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.widget-headers > h2{
    font-size: 16px;
    font-weight: 400;
}

.article{
    display: flex;
    padding: 10px;
    cursor: pointer;
}
.article:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}
.article-left{
    color: #0177b7;
    margin-right: 5px;
}

.article-right{
    flex: 1;
}

.article-right > h4{
    font-size: 14px;
}

.article-right > p{
    font-size: 12px;
    color: gray;
}   